# reward_model/longest_common_subsequence_data/
# reward_model/raw_data/
venv
reward_model/temp*
reward_model/rm_output
reward_model/*.pyc
__pycache__
reward_model/__pycache__
reward_model/checkpoint*/
reward_model/runs*/
reward_model/*.json
reward_model/comment*
grpo/__pycache__
grpo/wandb
.vscode
reward_model/core*
linshi
reward_model/output
grpo/grpo_output


DPO/core
DPO/result
DPO/wandb
DPO/ref
DPO/build_website.py
DPO/supervised_fine_tuning.py
DPO/temp*
reward_model/final_reward_model
grpo/output_model
reward_model/final_reward_model.tar.gz